# ==========================
# User Configuration (Secrets)
*.conf
*.json

# ==========================
# Temporary & Log Files
# ==========================
*.log
*.tmp
*.dmp
*.db

# ==========================
# OS & Editor Files (Junk)
# ==========================
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/
core/tailscale/
core/ui/